
.header , .name{
    display: flex;
    justify-content: center;
    color: #c07f00;
    font-size: 2.3em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.task {
    background-color: #fff;
    width: 10.25em;
    box-shadow: 0 5px 35px rgba(1 1 1 / 20%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.task:hover {
    transform: scale(1.1);
}


.task-link {
    text-align: center;
}

.task-link a {
    color: #c07f00;
    font-size: 1.4em;
    font-weight: 700;
    margin: 10px;
}